<div class="card">
  <!-- Card header -->
  <div class="card-header border-0 pt-6">
    <!-- Card title / Search -->
    <div class="card-title">
      <div class="d-flex align-items-center position-relative my-1">
        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
          <span class="path1"></span><span class="path2"></span>
        </i>
        <input
          type="text"
          [(ngModel)]="search"
          (keyup.enter)="listSucursales()"
          name="search"
          class="form-control form-control-solid w-250px ps-12"
          placeholder="Search Sucursales"
        />
      </div>
    </div>

    <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading$ | async"></span>

    <!-- Card toolbar -->
    <div class="card-toolbar">
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" (click)="createSucursal()">
          + Add Sucursal
        </button>
      </div>
    </div>
  </div>

  <!-- Card body -->
  <div class="card-body pt-0">
    <div class="table-responsive">
      <table class="table align-middle table-row-dashed fs-6 gy-5">
        <thead>
          <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
            <th>Sucursal</th>
            <th>Dirección</th>
            <th>Estado</th>
            <th>Fecha de registro</th>
            <th class="text-end">Actions</th>
          </tr>
        </thead>
        <tbody class="fw-semibold text-gray-600">
          <ng-container *ngFor="let SUCURSAL of SUCURSALES">
            <tr>
              <td>{{ SUCURSAL.name }}</td>
              <td style="width: 550px; display: block;">{{ SUCURSAL.address }}</td>
              <td>
                <span class="badge badge-light-success" *ngIf="SUCURSAL.state == 1">Activo</span>
                <span class="badge badge-light-danger" *ngIf="SUCURSAL.state == 2">Inactivo</span>
              </td>
              <td>{{ SUCURSAL.created_at }}</td>
              <td class="text-end">
                <a href="#" (click)="editSucursal(SUCURSAL)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                  <i class="ki-duotone ki-pencil fs-2"><span class="path1"></span><span class="path2"></span></i>
                </a>
                <a href="#" (click)="deleteSucursal(SUCURSAL)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                  <i class="ki-duotone ki-trash fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                </a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <ngb-pagination
      [collectionSize]="totalPages"
      [(page)]="currentPage"
      [pageSize]="25"
      [rotate]="true"
      [boundaryLinks]="true"
      (pageChange)="loadPage($event)"
    ></ngb-pagination>
  </div>
</div>
